#nav {
    font-style: italic;
}

//footer
#social {
    img {
        height: 50px;
        width: 50px;
    }
}

//WIGS PAGE --INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--
.wigslist {
    img {
        max-height: 400px;
        width: auto;
        object-fit: scale-down;
    }
}

//smaller that 480px smaller that 480px smaller that 480px
@media screen and (max-width: 480px) {

}