//ALLSITES--ALLSITES--ALLSITES--ALLSITES--ALLSITES--
body {
    background-color: rgb(0, 0, 0);

}

//navigation
nav.navbar-brand {
    color: black;
}

#nav {
    border-radius: 16px;
    box-shadow: 10px 10px 10px;
    margin-top: 6px;
    margin-bottom: 12px;
}

//main
#backg {
    background-color: hsl(24, 28%, 53%);
    border-radius: 15px;
    color: rgb(214, 168, 51);

    h1 {
        text-shadow: 4px 4px 6px rgb(0, 0, 0);
        font-size: 48px;
    }

    h2,
    h3,
    h4,
    h5,
    p {
        color: black;
    }
}

.title {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 64px;
    margin-top: 8px;
}

//SAFETY
#safety {
    margin-top: 8px;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        font-size: small;
        color: white;
    }

}

//footer
#social {
    img {
        height: 50px;
        width: 50px;
    }
}

//INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--
#homeform {
    color: black;
}

//WIGS PAGE --INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--INDEXPAGE--
.wigslist {
    img {
        max-height: 400px;
        width: auto;
        object-fit: scale-down;
    }
}

//smaller that 480px smaller that 480px smaller that 480px
@media screen and (max-width: 480px) {
    body {
        background-color: rgb(0, 0, 0);
    }

    #backg {
        background-color: hsl(23, 38%, 29%);
        border-radius: 15px;
        color: rgb(218, 171, 54);

        h1 {
            text-shadow: 4px 2px 6px rgb(0, 0, 0);
            font-size: 24px;
        }

        h2,
        h3,
        h4,
        h5,
        p {
            color: black;
        }
    }
}